.photo-detail {
  display: flex;
  padding: 1em 3em;
}
.photo-detail .container-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photo-detail .container-photo > img {
  box-shadow: 0 2px 3px grey;
}
.photo-detail .container-photo > ul {
  margin: 1em 0 0 0;
}
.photo-detail .raiting {
  font-size: 4em;
}

.photo-detail .container-detail {
  flex: 3;
  padding: 0 1em;
}
.photo-detail .container-detail .title {
  padding: 1em 0;
  letter-spacing: 3px;
}
.photo-detail .container-detail .detail {
  display: grid;
  height: 60vh;
  grid-template-areas: 'description' 'date-language';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5em;
  padding-top: 0.5em;
}

.photo-detail .container-detail .detail > p {
  grid-area: description;
}

.photo-detail .container-detail .detail .date-language {
  grid-area: date-language;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(128, 128, 128, 0.15);
}

@media screen and (max-width: 460px) {
  .photo-detail {
    flex-direction: column;
    padding: 1em;
  }

  .photo-detail .container-detail .detail .date-language {
    flex-direction: column;
  }
}
