.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 3px solid rgba(128, 128, 128, 1);
  background: var(--color-gray);
}

.header .brand {
  text-shadow: 0 1px 2px white;
  transition: all 0.25s 0s ease;
}
.header .brand:hover {
  text-shadow: 0 1px 2px transparent;
}

@media screen and (max-width: 460px) {
  .header {
    font-size: 0.85em;
  }

  .header button {
    padding: 1em;
    font-size: 0.75em;
  }
}
