.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;

  > h1 {
    font-size: 10em;
  }

  > p {
    font-size: 5em;
    letter-spacing: 10px;
  }
}
